body{
    text-align: center;
    background-color: rgba(34, 40, 95, 0.749);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p, h1, h2 {
    color: white;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;

}

hr {
    border: 10px solid white;
}

button {
    background-color: lightgray;
    width: 400px;
    height: 100px;
    font-size: 50px;
    margin-top: 25px;
    border: 10px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 110px;
    left:55px;
    text-align: center;
}

button:hover{
    border: 10px solid darkblue;
    color: rgb(205, 93, 28);
}

.description{
    text-align: center;
    margin-left: 21%;
    width: 850px;
    font-size: 20px;
}


.dropbtn {
    background-color: lightgray;
    color: black;
    padding: 16px;
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border: 5px darkblue;
    position: relative;
    top: 106px;
    left: -20px;
    border: 10px solid black;
    height:100px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 400px;
  height:100px;
  position: relative;
  left:10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position: relative;
  right: 22px;
  top:-5px;
  padding:10px;
}

/* Text inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  text-align:center;
  display: block;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: grey;}

