
h1 {
    text-align: center;
 
    color: white;
}


h3 {
    text-align:center;
    color: white;
    font-style: italic;
}


body {
    background-color: rgba(34, 40, 95, 0.749);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;

}

.questions{ 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 10px;
}


.questions div {
    
    flex: 1; /* Columns take up equal space */
    padding: 16px;
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width:33%;
    height:auto;
  

}

/* Text inside the divs */
.questions div h2 {
    text-align: center;
    color: #444;
}

.questions div p {
    margin: 8px 0;
    color: #666;
}

button {
    position: relative;
    top:-500px;
    width:90px;
    height:30px;
}


