* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(34, 40, 95, 0.749);
}

.ball {
    width: 300px;
    height: 300px;
    display: flex;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.inputfield {
    display: flex;
    justify-content: center;
}

input {
    position: absolute;
    top: 65vh;
    padding: 15px 50px 15px 15px;
    font-size: 15px;
    text-align: left;
    border: 0;
}

input:focus {
    outline: 2px solid rgb(7, 27, 88);
}

button {
    position: absolute;
    padding: 10px 80px;
    top: 75vh;
    font-size: 20px;
    background-color: rgba(5, 68, 107, 0.749);
    color: white;
    border: 2px solid rgb(2, 0, 31);
    border-radius: 30px;
}

button:hover {
    background-color: rgba(10, 52, 76, 0.749);
}

button:active {
    background-color: rgb(34, 25, 34);
}

#response {
    width: 70px;
    color: black;
    border-radius: 50%;
    text-align: center;
    font-size: 120px;
}

.whitecircle {
    width: 175px;
    height: 175px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions {
    text-align: center;
    margin-bottom: 60px;
    font-size: 14px;
}

a {
    color: rgb(0, 157, 255);
}

@keyframes shake {
    0%, 100% { transform: rotate(0); }
    25%, 75% {transform: rotate(-5deg); }
    50% {transform: rotate(5deg); }
}

.ball-shake {
    animation: shake 0.5s ease-in-out;
}